.featured {
    background-color: rgb(16,16,20);
}

.promotional {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.video {
    width: 1680px;
    height: 945px;
}