<div class="featured">
    <div class="top">
        <div class="search-container">
            <svg xmlns="http://www.w3.org/2000/svg" class="input-icon" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd" />
            </svg>
            <input type="search" class="search" placeholder="Buscar en la tienda">
        </div>
        <a class="discover" href="#">Descubrir</a>
        <a class="explore" href="#">Explorar</a>
        <a class="news" href="#">Noticias</a>
    </div>
    <div class="promotional">
        <div class="promotion1">
            <iframe class="video" src="https://www.youtube.com/embed/j9b543Z6aus" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        <div class="promotion2">
            <div class="card">
                <img src="mobile.png" alt="Juego 3">
                <span>Epic Games Store en móviles</span>
            </div>
        
            <div class="card">
                <img src="spiderman.png" alt="Juego 2">
                <span>Marvel Spiderman 2</span>
            </div>
        
            <div class="card">
                <img src="fortnite.png" alt="Juego 3">
                <span>Fortnite</span>
            </div>

            <div class="card">
                <img src="rocket.png" alt="Juego 4">
                <span>Rocket League</span>
            </div>
        </div>
    </div>
</div>