.footer {
    background-color: rgb(16,16,20);
    font-family: 'Epic Games', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.content-all {
    padding: 25px;
}

.network {
    display: flex;
    justify-content: left;
    gap: 15px;
}

.photo {
    width: 40px;
    height: 40px;
}

.photo:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}

.rec {
    display: flex;
    justify-content: left;
    margin-top: 15px;
    margin-bottom: 0%;
    color: rgb(146, 146, 146);
}

.rec1:hover {
    text-shadow: 0px 0px 20px rgb(212, 212, 212);
}

.resources {
    display: flex;
    justify-content: left;
    gap: 30px;
    margin-top: 0%;
    color: white;
}

.a:hover {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}

.crea {
    display: flex;
    justify-content: left;
    margin-top: 15px;
    margin-bottom: 0%;
    color: rgb(146, 146, 146);
}

.crea1:hover {
    text-shadow: 0px 0px 20px rgb(212, 212, 212);
}

.created {
    display: flex;
    justify-content: left;
    gap: 30px;
    margin-top: 0%;
    color: white;
}

.end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 30px;
}

.text {
    color: white;
    margin-top: 40px;
    width: 50%;
}

.subpart3 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
}

.subpart4 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: right;
    justify-content: flex-end;
}

.line {
    color: white;
    margin-top: 40px;
}