<div class="footer">
    <div class="content-all">
        <div class="network">
            <a href="https://www.facebook.com/"><img class="photo" src="facebook.png"></a>
            <a href="https://x.com/"><img class="photo" src="twitter.png"></a>
            <a href="https://www.youtube.com/"><img class="photo" src="youtube.png"></a>
        </div>
        <div class="part1">
            <div class="rec">
                <p class="rec1">Recursos</p>
            </div>
            <div class="resources">
                <div class="subpart1">
                    <p class="a">Apoya un creador</p>
                    <p class="a">Distribuir con Epic Games</p>
                    <p class="a">Empleo</p>
                    <p class="a">Compañía</p>
                </div>
                <div class="subpart2">
                    <p class="a">Política de contenido de fans</p>
                    <p class="a">Investigación de usuarios</p>
                    <p class="a">CLUF de la tienda</p>
                </div>
                <div class="subpart2">
                    <p class="a">Servicios en línea</p>
                    <p class="a">Reglas de la comunidad</p>
                    <p class="a">Epic Newsroom</p>
                </div>
            </div>
            <div class="crea">
                <p class="crea1">Creado por Epic Games</p>
            </div>
            <div class="created">
                <div class="subpart1">
                    <p class="a">Battle Breakers</p>
                    <p class="a">Fortnite</p>
                    <p class="a">Infinity Blade</p>
                </div>
                <div class="subpart2">
                    <p class="a">Robo Recall</p>
                    <p class="a">Shadow Complex</p>
                    <p class="a">Unreal Tournament</p>
                </div>
            </div>
        </div>
        <div class="line">
            <p>------------------------------------------------------------------------------------------------------------
                -----------------------------------------------------------------------------------------------------------
                -----------------------------------------------------------------------------------------------------------
                --------------------------------------------------------------------
            </p>
        </div>
        <div class="part2">
            <div class="text">
                <p class="a">© 2025, Epic Games, Inc. Todos los derechos reservados. Epic, Epic Games, el logotipo de Epic Games, 
                    Fortnite, el logotipo de Fortnite, Unreal, Unreal Engine, el logotipo de Unreal Engine, Unreal Tournament y 
                    el logotipo de Unreal Tournament son marcas comerciales o marcas registradas de Epic Games, Inc. tanto en 
                    Estados Unidos de América como en el resto del mundo. Otras marcas o nombres de productos son marcas comerciales 
                    de sus respectivos propietarios. Nuestros sitios web pueden incluir enlaces a otros sitios y recursos ofrecidos 
                    por terceros. Estos enlaces solo se ofrecen para tu mayor comodidad. Epic Games no tiene control sobre el 
                    contenido de esos sitios y recursos, y no acepta ninguna responsabilidad por ellos ni por cualquier pérdida o 
                    daño que pueda ocasionar el uso que haces de ellos.</p>
            </div>
            <div class="end">
                <div class="subpart3">
                    <p class="a">Términos de servicio</p>
                    <p class="a">Política de privacidad</p>
                    <p class="a">Política de reembolso de la tienda</p>
                    <p class="a">Listado de editoras</p>
                </div>
                <div class="subpart4">
                    <img class="epic" class="photo" src="logo_blanco.png" alt="epic">
                    <img src="unreal_engine.png" class="photo" alt="unreal">
                </div>
            </div>
        </div>
    </div>
</div>