<p>footer works!</p>
<div class="footer">
    <div class="network">
        <a href="#"><img src="facebook.png"></a>
        <a href="#"><img src="twitter.png"></a>
        <a href="#"><img src="youtube.png"></a>
    </div>
    <div class="part1">
        <div class="resources">
            <p>Recursos</p>
            <div class="subpart1">
                <p>Apoya un creador</p>
                <p>Distribuir con Epic Games</p>
                <p>Empleo</p>
                <p>Compañía</p>
            </div>
            <div class="subpart2">
                <p>Política de contenido de fans</p>
                <p>Investigación de usuarios</p>
                <p>CLUF de la tienda</p>
            </div>
            <div class="subpart3">
                <p>Servicios en línea</p>
                <p>Reglas de la comunidad</p>
                <p>Epic Newsroom</p>
            </div>
        </div>
        <div class="created">
            <p>Creado por Epic Games</p>
            <div class="subpart1">
                <p>Battle Breakers</p>
                <p>Fortnite</p>
                <p>Infinity Blade</p>
            </div>
            <div class="subpart2">
                <p>Robo Recall</p>
                <p>Shadow Complex</p>
                <p>Unreal Tournament</p>
            </div>
            <div class="part2">
                <div class="text"></div>
                <div class="end">
                    <div class="subpart1">
                        <p>Términos de servicio</p>
                        <p>Política de privacidad</p>
                        <p>Política de reembolso de la tienda</p>
                        <p>Listado de editoras</p>
                    </div>
                    <div class="subpart2">
                        <img class="epic" src="logo_blanco.png" alt="epic">
                        <img src="unreal_engine.png" alt="unreal">
                    </div>
                </div>
            </div>
        </div>