.background {
    background-color: rgb(16,16,20);
    color: white;
    margin-top: 0px;
    padding: 20px;
}

.p {
    color: tomato;
}

.heroicon svg {
    color: white;
    width: 20px;
    height: 20px;
}

.heroicon svg:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    background-color: black;
    color: white;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: white;
    background-color: rgb(100, 100, 100);
}

.position1 {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 30px;
}

.position2 {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 30px;
}

.logo {
    width: 20px;
    height: 20px;
}

.distribuir {
    color: white;
    background-color: rgb(18,18,22);
    border: none;
}

.colorAll {
    background-color: rgb(49, 49, 58);
    font-family: 'Epic Games', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.download {
    background-color: rgb(38,187,255);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.download:hover {
    box-shadow: rgb(38,187,255) 0px 0px 20px;
    color: white;
}

.login {
    background-color: rgb(53,53,57);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login:hover {
    box-shadow: white 0px 0px 20px;
    color: white;
}

.assistance {
    color: white;
    text-decoration: none;
}

.assistance:hover {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}

.store {
    color: white;
    text-decoration: none;
}

.store:hover {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}