<div class="content4">
    <div class="start">
        <p class="title">Más juegos ></p>
        <div class="buttons">
            <a href="#"><img class="arrows" src="right.png"></a>
            <a href="#"><img class="arrows" src="left.png"></a>
        </div>
    </div>
    <div class="games">
        <div class="card">
            <img src="mobile.png" alt="Juego 3">
            <p class="title1">Juego base</p>
            <span>FINAL FANTASY VII REBIRTH</span>
            <div class="order">
                <p class="discount">-30%</p>
                <p class="line"><del>69,99€</del></p>
                <span>48,99€</span>
            </div>
        </div>
        <div class="card">
            <img src="mobile.png" alt="Juego 3">
            <p class="title1">Juego base</p>
            <span>ENDER LILIES: Quietus of the Knights</span>
            <div class="order">
                <p class="epic">Ya en Epic</p>
                <span>24,99€</span>
            </div>
        </div>
        <div class="card">
            <img src="mobile.png" alt="Juego 3">
            <p class="title1">Juego base</p>
            <span>Jotunnslayer: Hordes of Hel</span>
            <div class="order">
                <p class="discount">-10%</p>
                <p class="line"><del>9,99€</del></p>
                <span>8,99€</span>
            </div>
        </div>
        <div class="card">
            <img src="mobile.png" alt="Juego 3">
            <p class="title1">Juego base</p>
            <span>Dreamcore</span>
            <br>
            <div class="order">
                <span>8,09€</span>
            </div>
        </div>
        <div class="card">
            <img src="mobile.png" alt="Juego 3">
            <p class="title1">Juego base</p>
            <span>Heart of the Machine</span>
            <div class="order">
                <p class="discount">-20%</p>
                <p class="line"><del>29,99€</del></p>
                <span>23,99€</span>
            </div>
        </div>
        <div class="card">
            <img src="mobile.png" alt="Juego 3">
            <p class="title1">Juego base</p>
            <span>Citizen Sleeper 2: Starward Vector</span>
            <div class="order">
                <p class="discount">-10%</p>
                <p class="line"><del>22,39€</del></p>
                <span>20,15€</span>
            </div>
        </div>
    </div>
</div>