<div class="content4">
    <div class="start">
        <p class="title">Ofertas invernales ></p>
        <div class="buttons">
            <a href="#"><img class="arrows" src="right.png"></a>
            <a href="#"><img class="arrows" src="left.png"></a>
        </div>
    </div>
    <div class="games">
        <div class="card">
            <img src="game7.png" alt="Juego 3">
            <p class="title1">Juego base</p>
            <span>Mafia: Definitive Edition</span>
            <div class="order">
                <p class="discount">-80%</p>
                <p class="line"><del>39,99€</del></p>
                <span>7,99€</span>
            </div>
        </div>
        <div class="card">
            <img src="game8.png" alt="Juego 3">
            <p class="title1">Juego base</p>
            <span>PC Building Simulator</span>
            <div class="order">
                <p class="discount">-75%</p>
                <p class="line"><del>19,99€</del></p>
                <span>4,99€</span>
            </div>
        </div>
        <div class="card">
            <img src="game9.png" alt="Juego 3">
            <p class="title1">Juego base</p>
            <span>Batman Arkham Knight</span>
            <div class="order">
                <p class="discount">-80%</p>
                <p class="line"><del>19,99€</del></p>
                <span>3,99€</span>
            </div>
        </div>
        <div class="card">
            <img src="game10.png" alt="Juego 3">
            <p class="title1">Juego base</p>
            <span>Assassin's Creed® III: Remastered</span>
            <div class="order">
                <p class="discount">-75%</p>
                <p class="line"><del>39,99€</del></p>
                <span>9,99€</span>
            </div>
        </div>
        <div class="card">
            <img src="game11.png" alt="Juego 3">
            <p class="title1">Juego base</p>
            <span>Inmortals Fenyx Rising Standard Edition</span>
            <div class="order">
                <p class="discount">-80%</p>
                <p class="line"><del>39,99€</del></p>
                <span>7,99€</span>
            </div>
        </div>
        <div class="card">
            <img src="game12.png" alt="Juego 3">
            <p class="title1">Juego base</p>
            <span>Total War: WARHAMMER II</span>
            <div class="order">
                <p class="discount">-75%</p>
                <p class="line"><del>59,99€</del></p>
                <span>14,99€</span>
            </div>
        </div>
    </div>
</div>