.content2 {
    background-color: rgb(16,16,20);
    font-family: 'Epic Games', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-top: 0px;
    padding: 20px;
}

.boton-tienda {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(92, 92, 92);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 190px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
}

.boton-tienda:hover {
    background-color: rgb(133, 133, 133);
}

.icono {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.photo {
    height: 280px;
    width: 400px;
    border-radius: 10px;
}

.order {
    display: flex;
    flex-direction: row;
    gap: 47px;
}

.title {
    color: white;
}

.text {
    color: rgb(153, 153, 153);
}