<div class="content2">
    <div class="order">
        <div class="card">
            <img class="photo" src="card1.png" alt="Juego 3">
            <p class="title">Fortnite</p>
            <p class="text">¡Préparate para el campeonato por regiones del C6 T1 este domingo 16 de febrero!</p>
            <button class="boton-tienda">
                ¡Infórmate ya!
                <img src="open.png" alt="Icono tienda" class="icono">
            </button>
        </div>
        <div class="card">
            <img class="photo" src="card2.png" alt="Juego 3">
            <p class="title">Fortnite</p>
            <p class="text">¡Consigue los trajes de Once, Jefe Hopper y Demogorgon en la tienda de objetos!</p>
            <button class="boton-tienda">
                Ver en la tienda
                <img src="open.png" alt="Icono tienda" class="icono">
            </button>
        </div>
    </div>
</div>
