<div class="content2">
    <div class="order">
        <div class="card">
            <img class="photo" src="mobile.png" alt="Juego 3">
            <p class="title">Juego base</p>
            <p class="text">hola</p>
            <button class="boton-tienda">
                Ver en tienda
                <img src="open.png" alt="Icono tienda" class="icono">
            </button>
        </div>
        <div class="card">
            <img class="photo" src="mobile.png" alt="Juego 3">
            <p class="title">Juego base</p>
            <p class="text">hola</p>
            <button class="boton-tienda">
                Ver en tienda
                <img src="open.png" alt="Icono tienda" class="icono">
            </button>
        </div>
        <div class="card">
            <img class="photo" src="mobile.png" alt="Juego 3">
            <p class="title">Juego base</p>
            <p class="text">hola</p>
            <button class="boton-tienda">
                Ver en tienda
                <img src="open.png" alt="Icono tienda" class="icono">
            </button>
        </div>
    </div>
</div>
